*.class
#package file
*.war
*.ear

#kidff3 ignore
*.orig

#maven ignore
target/

#ecplise
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*cache
*.diff
*.patch
*.tmp

#system
.DS_Store
Thumbs.db